@model List<TechJobsPersistent.Models.Employer>

@if (Model.Count == 0)
{
    <h1>No Employers with that name!</h1>
}
else
{
    @foreach (Employer employer in Model)
    {
    <h1>Employer Name: @employer.Name</h1>
    
    <div>
        <p>Name: @employer.Name </p>
        <p>Location: @employer.Location </p>
    </div>
    }
}
